:root {
  --background: #6cb4ab;
  --masterball-white: #ffffff;
  --masterball-pink: rgb(192, 66, 138);
  --masterball-purple: #60569b;
  --masterball-lines: #4c4166;
  --masterball-yellow: #f6e097;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

.container {
  height: 30em;
  width: 30em;
  border: 2px solid var(--masterball-white);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.ball-base {
  width: 15em;
  height: 15em;
  border: 1em solid var(--masterball-lines);
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  z-index: 1;
  animation: bounce 3s linear infinite;
}

.lines {
  height: 1.5em;
  width: 100%;
  background-color: var(--masterball-lines);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.button {
  background-color: var(--masterball-lines);
  border-radius: 50%;
  width: 4.5em;
  height: 4.5em;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.button::before {
  content: "";
  background-color: var(--masterball-white);
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.button::after {
  content: "";
  background-color: var(--masterball-white);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: pokeballBlink 3s linear infinite;
}

.masterball {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background: linear-gradient(
    var(--masterball-purple) 50%,
    var(--masterball-white) 50%
  );
  position: absolute;
  top: 25%;
  left: 25%;
  overflow: hidden;
  animation: bounce 3s linear infinite;
}

.masterball span {
    font-family: "Poppins", sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    width: inherit;
    height: inherit;
    color: var(--masterball-white);
    position: absolute;
    top: 0.5em;
    text-align: center;
    z-index: 1;
}

.decoration-r, .decoration-l {
    width: 5em;
    height: 5em;
    background-color: var(--masterball-pink);
    border-radius: 70% 25%;
    position: absolute;
    margin: auto;
    top: 0.5em;
}

.decoration-l {
    left: 0.75em;
}

.decoration-r {
    right: 0.75em;
    transform: rotate(90deg);
}

@keyframes pokeballBlink {
    0%,
    10%,
    25%,
    35%,
    60%,
    85%,
    100% {
      background-color: var(--masterball-white);
    }
    15%, 40%, 70% {
      background-color: var(--masterball-yellow);
    }
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-150%);
    }
    10%,
    85% {
      transform: translateY(25%);
    }
    15% {
      transform: translateY(-25%);
    }
    25%,
    30%,
    55%,
    80% {
      transform: translateY(0) translateX(0) rotate(0deg);
    }
    45% {
      transform: rotate(45deg) translateX(15%) translateY(-5%);
    }
    70% {
      transform: rotate(-45deg) translateX(-15%) translateY(-5%);
    }
  }
  